{% load static %}
{% if request.user.is_superuser %}
<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.5
Version: 4.1.0
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
 <html lang="en" class="ie8 no-js">

<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8">
<title>Metronic | Metronic | Admin Dashboard Template</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta content="" name="description">
<meta content="" name="author">
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
<link href="{%static 'admin_static/assets/global/plugins/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
<link href="{%static 'admin_static/assets/global/plugins/simple-line-icons/simple-line-icons.min.css'%}" rel="stylesheet" type="text/css">
<link href="{%static 'admin_static/assets/global/plugins/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css">
<link href="{%static 'admin_static/assets/global/plugins/bootstrap/css/dataTables.bootstrap.min.css'%}" rel="stylesheet" type="text/css">
<link href="{%static 'admin_static/assets/global/plugins/uniform/css/uniform.default.css'%}" rel="stylesheet" type="text/css">
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
<link rel="stylesheet" type="text/css" href="{%static 'admin_temp/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css'%}"/>
<link href="{%static 'admin_static/assets/global/plugins/jqvmap/jqvmap/jqvmap.css'%}" rel="stylesheet" type="text/css">
<link href="{%static 'admin_static/assets/global/plugins/morris/morris.css'%}" rel="stylesheet" type="text/css">
<!-- END PAGE LEVEL PLUGIN STYLES -->
<!-- BEGIN PAGE STYLES -->
<link href="{%static 'admin_static/assets/admin/pages/css/tasks.css'%}" rel="stylesheet" type="text/css"/>
<!-- END PAGE STYLES -->
<!-- BEGIN THEME STYLES -->
<!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
<link href="{%static 'admin_static/assets/global/css/components-rounded.css'%}" id="style_components" rel="stylesheet" type="text/css">
<link href="{%static 'admin_static/assets/global/css/plugins.css'%}" rel="stylesheet" type="text/css">
<link href="{%static 'admin_static/assets/admin/layout3/css/layout.cs'%}s" rel="stylesheet" type="text/css">
<link href="{%static 'admin_static/assets/admin/layout3/css/themes/default.css'%}" rel="stylesheet" type="text/css" id="style_color">
<link href="{%static 'admin_static/assets/admin/layout3/css/custom.css'%}" rel="stylesheet" type="text/css">
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico">
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->

<body>
<!-- BEGIN HEADER -->
<div class="page-header">
	<!-- BEGIN HEADER TOP -->
	<div class="page-header-top">
		<div class="container">
			<!-- BEGIN LOGO -->
			<div class="page-logo">
				<a href="index.html"><img src="{%static 'admin_static/assets/admin/layout3/img/logo-default.png'%}" alt="logo" class="logo-default"></a>
			</div>
			<!-- END LOGO -->
			<!-- BEGIN RESPONSIVE MENU TOGGLER -->
			<a href="javascript:;" class="menu-toggler"></a>
			<!-- END RESPONSIVE MENU TOGGLER -->
			<!-- BEGIN TOP NAVIGATION MENU -->
			<div class="top-menu">
				<ul class="nav navbar-nav pull-right">
					<li class="droddown dropdown-separator">
						<span class="separator"></span>
					</li>
					<!-- BEGIN INBOX DROPDOWN -->

					<!-- END INBOX DROPDOWN -->
					<!-- BEGIN USER LOGIN DROPDOWN -->
					<li class="dropdown dropdown-user dropdown-dark">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<img alt="" class="img-circle" src="{%static 'admin_static/assets/admin/layout3/img/avatar9.jpg'%}">
						<span class="username username-hide-mobile">Nick</span>
						</a>
						<ul class="dropdown-menu dropdown-menu-default">
							<li>
								<a href="extra_profile.html">
								<i class="icon-user"></i> My Profile </a>
							</li>
							<li>
								<a href="page_calendar.html">
								<i class="icon-calendar"></i> My Calendar </a>
							</li>
							<li class="divider">
							</li>
							<li>
								<a href="extra_lock.html">
								<i class="icon-lock"></i> Lock Screen </a>
							</li>
							<li>
								<a href="{% url 'logout'%}">
								<i class="icon-key"></i> Log Out </a>
							</li>
						</ul>
					</li>
					<!-- END USER LOGIN DROPDOWN -->

				</ul>
			</div>
			<!-- END TOP NAVIGATION MENU -->
		</div>
	</div>
	<!-- END HEADER TOP -->
	<!-- BEGIN HEADER MENU -->
	<div class="page-header-menu">
		<div class="container">
			<!-- BEGIN HEADER SEARCH BOX -->
			<form class="search-form" action="extra_search.html" method="GET">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search" name="query">
					<span class="input-group-btn">
					<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
					</span>
				</div>
			</form>
			<!-- END HEADER SEARCH BOX -->
			<!-- BEGIN MEGA MENU -->
			<!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
			<!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
			<div class="hor-menu ">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="{%url 'index'%}">Dashboard</a>
					</li>
					<li class="menu-dropdown mega-menu-dropdown ">
						<a data-hover="megamenu-dropdown" data-close-others="true"  data-toggle="dropdown" href="javascript:;" class="dropdown-toggle">
						Features <i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu" style="min-width: 400px">
							<li>
								<div class="mega-menu-content">
									<div class="row">
										<div class="col-md-6">
											<ul class="mega-menu-submenu">
												<li>
													<h3>eCommerce</h3>
												</li>
												<li>
													<a href="ecommerce_index.html" class="iconify">
													<i class="icon-home"></i>
													eCommerce </a>
												</li>
												<li>
													<a href="ecommerce_orders.html" class="iconify">
													<i class="icon-basket"></i>
													Manage Orders </a>
												</li>
												<li>
													<a href="ecommerce_orders_view.html" class="iconify">
													<i class="icon-tag"></i>
													Order View </a>
												</li>
												<li>
													<a href="ecommerce_products.html" class="iconify">
													<i class="icon-handbag"></i>
													Manage Products </a>
												</li>
												<li>
													<a href="ecommerce_products_edit.html" class="iconify">
													<i class="icon-pencil"></i>
													Product Edit </a>
												</li>
											</ul>
										</div>
										<div class="col-md-6">
											<ul class="mega-menu-submenu">
												<li>
													<h3>Layouts</h3>
												</li>
												<li>
													<a href="{% url 'user_detail'%}" class="iconify">
													<i class="icon-bar-chart"></i>
													User Detail</a>
												</li>
												<li>
													<a href="{% url 'admin_cart'%}" class="iconify">
													<i class="icon-bar-chart"></i>
													Cart</a>
												</li>
												<li>
													<a href="{%url 'product_view'%}" class="iconify">
													<i class="icon-bar-chart"></i>
													Products</a>
												</li>
												<li>
													<a href="{% url 'insert_category'%}" class="iconify">
													<i class="icon-bar-chart"></i>
													Category</a>
												</li>
												<li>
													<a href="{% url 'insert_subcategory'%}" class="iconify">
													<i class="icon-bar-chart"></i>
													Sub Category</a>
												</li>
												<li>
													<a href="{% url 'contact_to_admin'%}" class="iconify">
													<i class="icon-bar-chart"></i>
													Contact Us</a>
												</li>
												<li>
													<a href="{% url 'admin_checkout'%}" class="iconify">
													<i class="icon-bar-chart"></i>
													Check Out</a>
												</li>
											</ul>
										</div>

									</div>
								</div>
							</li>
						</ul>
					</li>
					<li class="menu-dropdown mega-menu-dropdown mega-menu-full ">
						<a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="dropdown-toggle">
						UI Components <i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu" style="width:50%">
							<li>
								<div class="mega-menu-content">
									<div class="row">
										<div class="col-md-6">
											<ul class="mega-menu-submenu">
												<li>
													<h3>UI Components</h3>
												</li>

												<li>
													<a href="ui_typography.html">
													<i class="fa fa-angle-right"></i>
													Typography </a>
												</li>

												<li>
													<a href="ui_tree.html">
													<i class="fa fa-angle-right"></i>
													Tree View </a>
												</li>

												<li>
													<a href="ui_notific8.html">
													<i class="fa fa-angle-right"></i>
													Notific8 Notifications </a>
												</li>
											</ul>
										</div>

										<div class="col-md-6">
											<ul class="mega-menu-submenu">
												<li>
													<h3>Form Components</h3>
												</li>

												<li>
													<a href="components_context_menu.html">
													<i class="fa fa-angle-right"></i>
													Context Menu </a>
												</li>


												<li>
													<a href="components_knob_dials.html">
													<i class="fa fa-angle-right"></i>
													Knob Circle Dials </a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li class="menu-dropdown classic-menu-dropdown ">
						<a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;">
						Extra <i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu pull-left">
							<li class=" dropdown-submenu">
								<a href=":;">
								<i class="icon-briefcase"></i>
								Data Tables </a>
								<ul class="dropdown-menu">
									<li class=" ">
										<a href="table_basic.html">
										Basic Datatables </a>
									</li>

									<li class=" ">
										<a href="table_responsive.html">
										Responsive Datatables </a>
									</li>

									<li class=" ">
										<a href="table_editable.html">
										Editable Datatables </a>
									</li>

								</ul>
							</li>
						</ul>
					</li>
					<li class="menu-dropdown mega-menu-dropdown mega-menu-full ">
						<a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="dropdown-toggle">
						Pages <i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li>
								<div class="mega-menu-content">
									<div class="row">
										<div class="col-md-3">
											<ul class="mega-menu-submenu">
												<li>
													<h3>User Pages</h3>
												</li>
												<li>
													<a href="page_timeline.html">
													<i class="fa fa-angle-right"></i>
													New Timeline <span class="badge badge-warning">2</span></a>
												</li>
												<li>
													<a href="extra_profile_old.html">
													<i class="fa fa-angle-right"></i>
													Old User Profile </a>
												</li>
											</ul>
										</div>
										<div class="col-md-3">
											<ul class="mega-menu-submenu">
												<li>
													<h3>General Pages</h3>
												</li>
												<li>
													<a href="extra_faq.html">
													<i class="fa fa-angle-right"></i>
													FAQ Page </a>
												</li>
												<li>
													<a href="page_portfolio.html">
													<i class="fa fa-angle-right"></i>
													Portfolio </a>
												</li>

												<li>
													<a href="page_coming_soon.html">
													<i class="fa fa-angle-right"></i>
													Coming Soon </a>
												</li>
												<li>
													<a href="extra_invoice.html">
													<i class="fa fa-angle-right"></i>
													Invoice </a>
												</li>
												<li>
													<a href="page_blog.html">
													<i class="fa fa-angle-right"></i>
													Blog </a>
												</li>

											</ul>
										</div>
										<div class="col-md-3">
											<ul class="mega-menu-submenu">
												<li>
													<h3>Custom Pages</h3>
												</li>
												<li>
													<a href="page_news.html">
													<i class="fa fa-angle-right"></i>
													News <span class="badge badge-success">9</span></a>
												</li>

												<li>
													<a href="page_about.html">
													<i class="fa fa-angle-right"></i>
													About Us </a>
												</li>
												<li>
													<a href="page_contact.html">
													<i class="fa fa-angle-right"></i>
													Contact Us </a>
												</li>
												
												<li>
													<a href="extra_pricing_table.html">
													<i class="fa fa-angle-right"></i>
													Pricing Tables </a>
												</li>

												<li>
													<a href="login_2.html">
													<i class="fa fa-angle-right"></i>
													Login Form 2 </a>
												</li>

											</ul>
										</div>
										<div class="col-md-3">
											<ul class="mega-menu-submenu">
												<li>
													<h3>Miscellaneous</h3>
												</li>
												<li>
													<a href="extra_lock.html">
													<i class="fa fa-angle-right"></i>
													Lock Screen 1 </a>
												</li>

												<li>
													<a href="extra_404_option3.html">
													<i class="fa fa-angle-right"></i>
													404 Page Option 3 </a>
												</li>

												<li>
													<a href="extra_500_option2.html">
													<i class="fa fa-angle-right"></i>
													500 Page Option 2 </a>
												</li>

											</ul>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- END MEGA MENU -->
		</div>
	</div>
	<!-- END HEADER MENU -->
</div>
<!-- END HEADER -->
{% block content %}{% endblock content %}
<!-- BEGIN FOOTER -->
<div class="page-footer">
	<div class="container">
		 2014 &copy; Metronic by keenthemes. <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">Purchase Metronic!</a>
	</div>
</div>
<div class="scroll-to-top">
	<i class="icon-arrow-up"></i>
</div>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<script src="{%static 'admin_static/assets/global/plugins/respond.min.js'%}"></script>
<script src="{%static 'admin_static/assets/global/plugins/excanvas.min.j'%}s"></script>
<script src="{%static 'admin_static/assets/global/plugins/jquery.min.js'%}" type="text/javascript"></script>
<script src="{%static 'admin_static/assets/admin/pages/scripts/table-advanced.js'%}"></script>
<script>
jQuery(document).ready(function() {
   Metronic.init(); // init metronic core components
Layout.init(); // init current layout
Demo.init(); // init demo features
   TableAdvanced.init();
});
</script>
<script src="{%static 'admin_static/assets/global/plugins/jquery.dataTables.min.js'%}" type="text/javascript"></script>
<script type="text/javascript" src="{%static 'admin_static/assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js'%}"></script>

<script src="{%static 'admin_static/assets/global/plugins/dataTables.bootstrap4.min.js'%}" type="text/javascript"></script>
<script src="{%static 'admin_static/assets/global/plugins/jquery-migrate.min.js'%}" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="{%static 'admin_static/assets/global/plugins/jquery-ui/jquery-ui.min.js'%}" type="text/javascript"></script>
<script src="{%static 'admin_static/assets/global/plugins/bootstrap/js/bootstrap.min.js'%}" type="text/javascript"></script>
<script src="{%static 'admin_static/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js'%}" type="text/javascript"></script>
<script src="{%static 'admin_static/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js'%}" type="text/javascript"></script>
<script src="{%static 'admin_static/assets/global/plugins/jquery.blockui.min.js'%}" type="text/javascript"></script>
<script src="{%static 'admin_static/assets/global/plugins/jquery.cokie.min.js'%}" type="text/javascript"></script>
<script src="{%static 'admin_static/assets/global/plugins/uniform/jquery.uniform.min.js'%}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{%static 'admin_static/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js'%}" type="text/javascript"></script>
<script src="{%static 'admin_static/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js'%}" type="text/javascript"></script>
<script src="{%static 'admin_static/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js'%}" type="text/javascript"></script>
<script src="{%static 'admin_static/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js'%}" type="text/javascript"></script>
<script src="{%static 'admin_static/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js'%}" type="text/javascript"></script>
<script src="{%static 'admin_static/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js'%}" type="text/javascript"></script>
<script src="{%static 'admin_static/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js'%}" type="text/javascript"></script>
<!-- IMPORTANT! fullcalendar depends on jquery-ui.min.js for drag & drop support -->
<script src="{%static 'admin_static/assets/global/plugins/morris/morris.min.js'%}" type="text/javascript"></script>
<script src="{%static 'admin_static/assets/global/plugins/morris/raphael-min.js'%}" type="text/javascript"></script>
<script src="{%static 'admin_static/assets/global/plugins/jquery.sparkline.min.js'%}" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{%static 'admin_static/assets/global/scripts/metronic.js'%}" type="text/javascript"></script>
<script src="{%static 'admin_static/assets/admin/layout3/scripts/layout.js'%}" type="text/javascript"></script>
<script src="{%static 'admin_static/assets/admin/layout2/scripts/quick-sidebar.js'%}" type="text/javascript"></script>
<script src="{%static 'admin_static/assets/admin/layout3/scripts/demo.js'%}" type="text/javascript"></script>
<script src="{%static 'admin_static/assets/admin/pages/scripts/index3.js'%}" type="text/javascript"></script>
<script src="{%static 'admin_static/assets/admin/pages/scripts/tasks.js'%}" type="text/javascript"></script>
<script src="{%static 'admin_static/assets/admin/pages/scripts/static.js'%}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
jQuery(document).ready(function() {
   Metronic.init(); // init metronic core componets
   Layout.init(); // init layout
   Demo.init(); // init demo(theme settings page)
   QuickSidebar.init(); // init quick sidebar
   Index.init(); // init index page
   Tasks.initDashboardWidget(); // init tash dashboard widget
});
</script>

<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
{% else %}
Access Denied
{% endif %}