{% extends 'admin_temp/base.html'%}
{% load static %}
{% block content %}
<div class="page-container">
	<!-- BEGIN PAGE HEAD -->
	<!-- END PAGE HEAD -->
	<!-- BEGIN PAGE CONTENT -->
	<div class="page-content">
		<div class="container">
			<!-- BEGIN PAGE BREADCRUMB -->
			<ul class="page-breadcrumb breadcrumb">
				<li>
					<a href="#">Home</a><i class="fa fa-circle"></i>
				</li>
				<li>
					<a href="form_layouts.html">UI Components</a>
					<i class="fa fa-circle"></i>
				</li>
				<li class="active">
					 Form Layouts
				</li>
			</ul>
			<!-- END PAGE BREADCRUMB -->
			<!-- BEGIN PAGE CONTENT INNER -->
			<div class="row">
				<div class="col-md-12">
					<div class="tabbable tabbable-custom tabbable-noborder tabbable-reversed">
						<div class="tab-content">
							<div class="" id="">
								<div class="portlet box blue">
									<div class="portlet-title">
										<div class="caption">
											<i class="fa fa-gift"></i>Form Sample
										</div>
									</div>
									<div class="portlet-body form">
										<form method="post" id="personForm" enctype="multipart/form-data" data-cities-url="{% url 'ajax_load_branches' %}" novalidate>
											{% csrf_token %}
											<div class="form-body">
											<h3 class="form-section">Person Info</h3>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
													{% include 'include/form.html' %}
														<div class="form-layout-footer ">
														  <button type="submit" class="btn btn-info">Submit Form</button>
															<a href="{% url 'product_view'%}" class="btn btn-info">Cancel</a>
															<a href="{% url 'insert_product'%}" class="btn btn-info">Reload</a>
														</div><!-- form-layout-footer --><br>
													</div>
												</div>
											</div>
										</div>
										</form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</div>
</div>
{% endblock content %}
