{% extends 'admin_temp/base.html'%}
{% load static %}
{% block content %}

<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
	<!-- BEGIN PAGE CONTENT -->
	<div class="page-content">
		<div class="container">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN PAGE BREADCRUMB -->
			<ul class="page-breadcrumb breadcrumb">
				<li>
					<a href="#">Home</a><i class="fa fa-circle"></i>
				</li>
				<li>
					<a href="table_advanced.html">Extra</a>
					<i class="fa fa-circle"></i>
				</li>
				<li>
					<a href="table_advanced.html">Data Tables</a>
					<i class="fa fa-circle"></i>
				</li>
				<li class="active">
					 Advanced Datatables
				</li>
			</ul>
			<!-- END PAGE BREADCRUMB -->
			<!-- BEGIN PAGE CONTENT INNER -->
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet light">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-cogs font-green-sharp"></i>
								<span class="caption-subject font-green-sharp bold uppercase">Datatable with TableTools</span>

							</div>
							<div class="tools">
							<a href="{% url 'insert_product'%}">
							<button type="button" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-plus-sign"></span> Add Product
							</button></a>
							</div>
						</div>
						<div class="portlet-body">
							<table class="table table-striped table-bordered table-hover" id="sample_1">
							<thead>
							<tr>
								<th>Action</th>
								<th>category</th>
								<th>subcategory</th>
								<th>pro_img</th>
								<th>pro_name</th>
								<th>pro_sku</th>
								<th>pro_short_dec</th>
								<th>pro_price</th>
								<th>pro_offer_price</th>

							</tr>
							</thead>
							<tbody>
							{% for i in data %}
							<tr>
								<td><a href="{%url 'update_product' i.id%}">Edit</a> </td>
								<td>{{i.category}}</td>
								<td>{{i.subcategory}}</td>
								{% if i.pro_img %}
							    	<td><a href="{{ i.pro_img.url }}"><img src="{{ i.pro_img.url }}" style="max-height:40%; max-width:40%"></a></td>
								{% else %}
									<td></td>
								{% endif %}
								<td>{{i.pro_name}}</td>
								<td>{{i.pro_sku}}</td>
								<td>{{i.pro_short_dec}}</td>
								<td>{{i.pro_price}}</td>
								<td>{{i.pro_offer_price}}</td>

							</tr>
							{% endfor %}
							</tbody>
							</table>
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				</div>
			</div>
			<!-- END PAGE CONTENT INNER -->
		</div>
	</div>
	<!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->

<div class="scroll-to-top">
	<i class="icon-arrow-up"></i>
</div>


{% endblock content %}