<h2>Reset Password</h2>

<p>If You Have Entered The Correct Mail Id Than  Reset Password Link Has Been
    Successfully Sent On Your Email.
    Please Check Your Mail.</p><br>
<p>Or Else Recheck Your Email Id</p>