{% extends 'user_temp/base.html'%}
{% block content %}
{% load static %}
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area ptb-60 ptb-sm-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="account.html">Account</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- My Account Page Start Here -->
        <div class="my-account white-bg pb-60">
            <div class="container">
                <div class="account-dashboard">
                   <div class="dashboard-upper-info">
                       <div class="row no-gutters align-items-center">
                           <div class="col-lg-3 col-md-6">
                               <div class="d-single-info">
                                   <p class="user-name">Hello <span>yourmail@info</span></p>
                                   <p>(not yourmail@info? <a href="#">Log Out</a>)</p>
                               </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                               <div class="d-single-info">
                                   <p>Need Assistance? Customer service at.</p>
                                   <p>admin@example.com.</p>
                               </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                               <div class="d-single-info">
                                   <p>E-mail them at </p>
                                   <p>support@example.com</p>
                               </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                               <div class="d-single-info text-center">
                                   <a class="view-cart" href="cart.html"><i class="fa fa-cart-plus" aria-hidden="true"></i>view cart</a>
                               </div>
                           </div>
                       </div>
                   </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <!-- Nav tabs -->
                            <ul class="nav flex-column dashboard-list" role="tablist">
                                <li><a class="active" data-toggle="tab" href="#dashboard">Dashboard</a></li>
                                <li><a data-toggle="tab" href="#My_Cart">My Cart</a></li>
                                <li><a data-toggle="tab" href="#orders">Orders</a></li>
                                <li><a data-toggle="tab" href="#Response">Response</a></li>
                                <li><a data-toggle="tab" href="#address">Addresses</a></li>
                                <li><a href="{%url 'logout'%}" href="#logout">logout</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-10">
                            <!-- Tab panes -->
                            <div class="tab-content dashboard-content mt-all-40">
                                <div id="dashboard" class="tab-pane active">
                                    <h3>Dashboard </h3>
                                    <p>From your account dashboard. you can easily check & view your <a href="#">recent orders</a>, manage your <a href="#">shipping and billing addresses</a> and <a href="#">edit your password and account details.</a></p>
                                </div>
                                <div id="My_Cart" class="tab-pane fade">
                                    <h3>Cart</h3>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Order</th>
                                                    <th>Date</th>
                                                    <th>Quantity</th>
                                                    <th>Total</th>
                                                    <th>Actions</th>	 	 	 	
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for i in cart %}
                                                <tr>
                                                    <td>{{i.product.pro_name}}</td>
                                                    <td>{{i.date}}</td>
                                                    <td>{{i.quantity}}</td>
                                                    <td>{{i.price}}</td>
                                                    <td><a class="view" href="{%url 'update_cart' i.id%}">view</a></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="orders" class="tab-pane fade">
                                    <h3>Order History</h3>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Order</th>
                                                    <th>Name</th>
                                                    <th>Product</th>
                                                    <th>ammount</th>
                                                    <th>payment id</th>
                                                    <th>status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for i in checkout %}
                                                <tr>
                                                    <td>{{i.id}}</td>
                                                    <td>{{i.name}}</td>
                                                    <td>{{i.product}}</td>
                                                    <td>{{i.ammount}}</td>
                                                    <td>{{i.payment_id}}</td>
                                                    {% if i.paid == True %}
                                                    <td>Success</td>
                                                    {% else %}
                                                    <td>Fail</td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="Response" class="tab-pane fade">
                                    <h3>Response</h3>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>your contact</th>
                                                    <th>Reply</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for i in contact %}
                                                <tr>
                                                    <td><textarea disabled style="width:100%">{{i.message_to_admin}}</textarea></td>
                                                    <td><textarea disabled style="width:100%">{{i.message_to_user}}</textarea></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="address" class="tab-pane">
                                    <p>Name : &nbsp; {{user.username}}</p>
                                    <p>First Name : &nbsp; {{user.first_name}}</p>
                                    <p>Last Name : &nbsp; {{user.last_name}}</p>
                                    <p>email : &nbsp; {{user.email}}</p>
                                    <p>Address : &nbsp; {{user.Address}}</p>

                                    <a class="view" href="{%url 'update_registration' user.id%}">edit</a>
                                    <p>steven smith</p>
                                    <p>Australia</p>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- My Account Page End Here -->
        <!-- Brand Logo Start -->
        <div class="brand-area pb-60">
            <div class="container">
                <!-- Brand Banner Start -->
                <div class="brand-banner owl-carousel">
                    <div class="single-brand">
                        <a href="#"><img class="img" src="{%static 'user_static/img/brand/1.png'%}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{%static 'user_static/img/brand/2.png'%}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{%static 'user_static/img/brand/3.png'%}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{%static 'user_static/img/brand/4.png'%}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{%static 'user_static/img/brand/5.png'%}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img class="img" src="{%static 'user_static/img/brand/1.png'%}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{%static 'user_static/img/brand/2.png'%}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{%static 'user_static/img/brand/3.png'%}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{%static 'user_static/img/brand/4.png'%}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{%static 'user_static/img/brand/5.png'%}" alt="brand-image"></a>
                    </div>
                </div>
                <!-- Brand Banner End -->                
            </div>
        </div>
        <!-- Brand Logo End -->
{% endblock %}