{% extends 'user_temp/base.html'%}
{% load static %}
{% block content %}
<!-- Breadcrumb Start -->

        <div class="breadcrumb-area pt-60 pb-55 pt-sm-30 pb-sm-20">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="cart.html">Cart</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- Cart Main Area Start -->
        <div class="cart-main-area pb-80 pb-sm-50">
            <div class="container">
               <h2 class="text-capitalize sub-heading">cart</h2>
                <div class="row">
                    <div class="col-md-12">
                        <!-- Form Start -->
                            <!-- Table Content Start -->
                        <form method="POST" enctype="multipart/form-data" class="contact-form">
                            {% csrf_token %}
                            {% include 'include/form.html' %}

                            <div class="table-content table-responsive mb-50">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-thumbnail">Image</th>
                                            <th class="product-name">Product</th>
                                            <th class="product-price">Price</th>
                                            <th class="product-quantity">Quantity</th>
                                            <th class="product-remove">Remove</th>
                                            <th class="product-remove">Add Item  /  Product Detai</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in data%}
                                        <tr>
                                            <td class="product-thumbnail">
                                                <a href="#"><img src="{{i.product.pro_img.url}}" alt="cart-image" /></a>
                                            </td>
                                            <td class="product-name">{{i.product.pro_name}}</td>
                                            <td class="product-price"><span class="amount">{{i.price}}</span></td>
                                            <td class="product-quantity"><input type="number" disabled name="quantity" id="numeric"  min="1" value="{{i.quantity}}" /></td>
                                            <td class="product-remove"> <a href="{%url 'delete_cart' i.id%}"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                            <td class="product-remove"> <a href="{%url 'update_cart' i.id%}"><i class="fa fa-plus" aria-hidden="true"></i></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- Table Content Start -->
                            <div class="row">
                               <!-- Cart Button Start -->
                                <div class="col-lg-8 col-md-7">
                                    <div class="buttons-cart">
                                        <a href="{%url 'index'%}">Continue Shopping</a>
                                    </div>
                                </div>
                                <!-- Cart Button Start -->
                                <!-- Cart Totals Start -->
                                <div class="col-lg-4 col-md-12">
                                    <div class="cart_totals">
                                        <h2>Cart Totals</h2>
                                        <br />
                                        <table>
                                            <tbody>
                                            {% for i in cart %}
                                                <tr class="cart-subtotal">
                                                    <th>Subtotal</th>
                                                    <td><span class="amount">{{i.total}}</span></td>
                                                </tr>

                                                <tr class="order-total">
                                                    <th>Total</th>
                                                    <td>
                                                        <strong><span class="amount">{{i.total}}</span></strong>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="wc-proceed-to-checkout">
                                            <a href="{% url 'checkout'%}">Proceed to Checkout</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Cart Totals End -->
                            </div>
                            <!-- Row End -->
                            <!-- Form End --></form>
                    </div>
                </div>
                 <!-- Row End -->
            </div>
        </div>
        <!-- Cart Main Area End -->
        <!-- Brand Logo Start -->
        <div class="brand-area pb-60">
            <div class="container">
                <!-- Brand Banner Start -->
                <div class="brand-banner owl-carousel">
                    <div class="single-brand">
                        <a href="#"><img class="img" src="{%static 'user_static/img/brand/1.png'%}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{%static 'user_static/img/brand/2.png'%}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{%static 'user_static/img/brand/3.png'%}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{%static 'user_static/img/brand/4.png'%}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{%static 'user_static/img/brand/5.png'%}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img class="img" src="{%static 'user_static/img/brand/1.png'%}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{%static 'user_static/img/brand/2.png'%}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{%static 'user_static/img/brand/3.png'%}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{%static 'user_static/img/brand/4.png'%}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{%static 'user_static/img/brand/5.png'%}" alt="brand-image"></a>
                    </div>
                </div>
                <!-- Brand Banner End -->                
            </div>
        </div>

<!--.....................modal table........................-->

        <!-- Brand Logo End -->
{% endblock content %}