{% extends 'user_temp/base.html'%}
{% block content %}
{% load static %}
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area ptb-60 ptb-sm-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- Google Map Start -->

        <!-- Google Map End -->
        <!-- Contact Email Area Start -->
        <div class="contact-email-area ptb-20">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Contact Us</h3>
                        <p class="text-capitalize mb-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <form action="" method="POST" enctype="multipart/form-data" class="contact-form">
                            <div class="address-wrapper">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="address-textarea">
                                            <div class="form-group">
                                                {% csrf_token %}
                                                {% include 'include/form.html' %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="form-message ml-15"></p>
                            <div class="col-xs-12 footer-content mail-content">
                                <div class="send-email">
                                    <input type="submit" value="submit" class="newsletter-btn">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact Email Area End -->
        <!-- Brand Logo Start -->
        <div class="brand-area pb-60">
            <div class="container">
                <!-- Brand Banner Start -->
                <div class="brand-banner owl-carousel">
                    <div class="single-brand">
                        <a href="#"><img class="img" src="{%static 'user_static/img/brand/1.png'%}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{%static 'user_static/img/brand/2.png'%}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{%static 'user_static/img/brand/3.png'%}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{%static 'user_static/img/brand/4.png'%}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{%static 'user_static/img/brand/5.png'%}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img class="img" src="{%static 'user_static/img/brand/1.png'%}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{%static 'user_static/img/brand/2.png'%}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{%static 'user_static/img/brand/3.pn'%}g" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{%static 'user_static/img/brand/4.png'%}" alt="brand-image"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="{%static 'user_static/img/brand/5.png'%}" alt="brand-image"></a>
                    </div>
                </div>
                <!-- Brand Banner End -->                
            </div>
        </div>
        <!-- Brand Logo End -->
{% endblock %}