{% extends 'user_temp/base.html'%}
{% load static %}
{% block content %}

    <!-- Breadcrumb Start -->
    <div class="breadcrumb-area ptb-60 ptb-sm-30">
        <div class="container">
            <div class="breadcrumb">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="shop.html">Shop</a></li>
                    <li class="active"><a href="product.html">Product</a></li>
                </ul>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- Breadcrumb End -->
    <!-- Product Thumbnail Start -->
    <div class="main-product-thumbnail pb-60">
        <div class="container">
            <div class="row">
                <!-- Main Thumbnail Image Start -->
                <div class="col-lg-5">
                    <!-- Thumbnail Large Image start -->
                    <div class="tab-content">
                        <div id="thumb1" class="tab-pane active">
                            <a data-fancybox="images" href="{{data.pro_img.url}}"><img src="{{data.pro_img.url}}" alt="product-view"></a>
                        </div>
                        <div id="thumb2" class="tab-pane">
                            <a data-fancybox="images" href="{%static 'user_static/img/products/2.jpg'%}"><img src="{%static 'user_static/img/products/2.jpg'%}" alt="product-view"></a>
                        </div>
                        <div id="thumb3" class="tab-pane">
                            <a data-fancybox="images" href="{%static 'user_static/img/products/3.jpg'%}"><img src="{%static 'user_static/img/products/3.jpg'%}" alt="product-view"></a>
                        </div>
                        <div id="thumb4" class="tab-pane">
                            <a data-fancybox="images" href="{%static 'user_static/img/products/4.jpg'%}"><img src="{%static 'user_static/img/products/4.jpg'%}" alt="product-view"></a>
                        </div>
                    </div>
                    <!-- Thumbnail Large Image End -->

                    <!-- Thumbnail Image End -->

                    <!-- Thumbnail image end -->
                </div>
                <!-- Main Thumbnail Image End -->
                <!-- Thumbnail Description Start -->
                <div class="col-lg-7">
                    <div class="thubnail-desc fix">
                        <h3 class="product-header">{{data.pro_name}}</h3>
                        <div class="rating-summary fix mtb-10">
                            <div class="rating f-left">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <div class="rating-feedback f-left">
                                <a href="#">(1 review)</a>
                                <a href="#">add to your review</a>
                            </div>
                        </div>
                            <form action="" method="POST" enctype="multipart/form-data" class="contact-form">
                                {% csrf_token %}
                                {% include 'include/form.html' %}
                                <div class="pro-price mb-10">
                                    <input disabled value="{{data.pro_price}}"/>
                                    <input name="product_price" hidden   value="{{data.pro_price}}"/>
                                    <p><del class="prev-price">{{data.pro_del_price}}</del></p>
                                </div>
                                <div class="pro-ref mb-15">
                                    <p><span class="in-stock">IN STOCK</span><span class="sku">50</span></p>
                                </div>
                                <div class="box-quantity">

                                <input class="number" name="quantity" id="numeric" type="number" min="1" value="1">
                                    {% if request.user.is_authenticated %}
                                    <button type="submit" class="add-cart">add to cart</button>
                                    {% else %}
                                        <a href="{%url 'login'%}" class="btn btn-secondary">Add To Cart</a>
                                    {% endif %}
                                </div>
                            </form>
                        <div class="product-link">
                            <ul class="list-inline">
                                <li><a href="wishlist.html">Add to Wish List</a></li>
                                <li><a href="{%url 'contact'%}">Contact Us</a></li>
                            </ul>
                        </div>
                        <p class="ptb-20">Everything you need for a trip to the gym will fit inside this surprisingly spacious Products Name Here. Stock it with a water bottle, change of clothes, pair of shoes, and even a few beauty products. Fits inside a locker and zips shut for security.</p>
                    </div>
                </div>
                <!-- Thumbnail Description End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Product Thumbnail End -->
    <!-- Product Thumbnail Description Start -->
    <div class="thumnail-desc pb-60">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="main-thumb-desc nav">
                        <li><a class="active" data-toggle="tab" href="#dtail">Details</a></li>
                    </ul>
                    <!-- Product Thumbnail Tab Content Start -->
                    <div class="tab-content thumb-content border-default">
                        <div id="dtail" class="tab-pane in active">
                            <p>{{data.pro_long_dec}}</p>
                            <ul class="tab-list-item">
                                {% if data.pro_name == ""%}
                                {% else %}
                                Product Name&nbsp;: &nbsp; {{data.pro_name}}<br>
                                {% endif %}
                                {% if data.category == ""%}
                                {% else %}
                                 Category&nbsp;: &nbsp; {{data.category}}<br>
                                {% endif %}
                                {% if data.subcategory == ""%}
                                {% else %}
                                SubCategory&nbsp;: &nbsp; {{data.subcategory}}<br>
                                {% endif %}

                                {% if data.occasion == ""%}
                                {% else %}
                                Occasion&nbsp;: &nbsp;  {{data.occasion}}<br>
                                {% endif %}
                                {% if data.work == ""%}
                                {% else %}
                                Work&nbsp;: &nbsp;  {{data.work}}<br>
                                {% endif %}
                                {% if data.stitching_type == ""%}
                                {% else %}
                                 Stitching Type&nbsp;: &nbsp;  {{data.stitching_type}}<br>
                                {% endif %}
                                {% if data.length == ""%}
                                {% else %}
                                Length&nbsp;: &nbsp;  {{data.length}}<br>
                                {% endif %}
                                {% if data.fabric == ""%}
                                {% else %}
                                Fabric&nbsp;: &nbsp;  {{data.fabric}}<br>
                                {% endif %}
                                {% if data.color == ""%}
                                {% else %}
                                 Color&nbsp;: &nbsp;  {{data.color}}<br>
                                {% endif %}
                                {% if data.top_fabric == ""%}
                                {% else %}
                                Top Fabric&nbsp;: &nbsp;  {{data.top_fabric}}<br>
                                {% endif %}
                                {% if data.top_length == ""%}
                                {% else %}
                                 Top Length&nbsp;: &nbsp;  {{data.top_length}}<br>
                                {% endif %}
                                {% if data.dupatta_fabric == ""%}
                                {% else %}
                                Dupatta Fabric&nbsp;: &nbsp;  {{data.dupatta_fabric}}<br>
                                {% endif %}
                                {% if data.dupatta_length == ""%}
                                {% else %}
                                Dupatta Length&nbsp;: &nbsp; {{data.dupatta_length}}<br>
                                {% endif %}
                                {% if data.bottom_length == ""%}
                                {% else %}
                                Bottom Length&nbsp;: &nbsp;  {{data.bottom_length}}<br>
                                {% endif %}
                                {% if data.url == ""%}
                                {% else %}
                                Url&nbsp;: &nbsp;  {{data.url}}<br>
                                {% endif %}
                                {% if data.saree_fabric == ""%}
                                {% else %}
                                Saree Fabric&nbsp;: &nbsp;  {{data.saree_fabric}}<br>
                                {% endif %}
                                {% if data.saree_color == ""%}
                                {% else %}
                                Saree Color&nbsp;: &nbsp; {{data.saree_color}}<br>
                                {% endif %}
                                {% if data.saree_length == ""%}
                                {% else %}
                                 Saree Length&nbsp;: &nbsp; {{data.saree_length}}<br>
                                {% endif %}
                                {% if data.blouse_color == ""%}
                                {% else %}
                                Blouse Color&nbsp;: &nbsp;  {{data.blouse_color}}<br>
                                {% endif %}
                                {% if data.blouse_fabric == ""%}
                                {% else %}
                                 Blouse Fabric&nbsp;: &nbsp; {{data.blouse_fabric}}<br>
                                {% endif %}
                                {% if data.pro_short_dec == ""%}
                                {% else %}
                                Short Description&nbsp;: &nbsp;  {{data.pro_short_dec}}<br>
                                {% endif %}
                                {% if data.pro_price == ""%}
                                {% else %}
                                 Price&nbsp;: &nbsp;  {{data.pro_price}}<br>
                                {% endif %}
                                {% if data.pro_offer_price == ""%}
                                {% else %}
                                Offer&nbsp;: &nbsp;   {{data.pro_offer_price}}<br>
                                {% endif %}
                                {% if data.pro_size == ""%}
                                {% else %}
                                Size&nbsp;: &nbsp; {{data.pro_size}}<br>
                                {% endif %}

                            </ul>
                        </div>

                    </div>
                    <!-- Product Thumbnail Tab Content End -->
                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Product Thumbnail Description End -->
    <!-- Realted Product Start -->
    <div class="related-product pb-30">
        <div class="container">
            <div class="related-box">
                <div class="group-title">
                    <h2>related product</h2>
                </div>
                <!-- Realted Product Activation Start -->
                <div class="new-upsell-pro owl-carousel">
                    <!-- Single Product Start -->
                    <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                            <a href="product.html">
                                <img class="primary-img" src="{%static 'user_static/img/products/4.jpg'%}" alt="single-product">
                                <img class="secondary-img" src="{%static 'user_static/img/products/2.jpg'%}" alt="single-product">
                            </a>
                        </div>
                        <!-- Product Image End -->
                        <!-- Product Content Start -->
                        <div class="pro-content">
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h4><a href="product.html">Products Name Here</a></h4>
                            <p><span class="price">$30.00</span><del class="prev-price">$32.00</del></p>
                            <div class="pro-actions">
                                <div class="actions-secondary">
                                    <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                    <a class="add-cart" href="cart.html" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <!-- Product Content End -->
                        <span class="sticker-new">-32%</span>
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                            <a href="product.html">
                                <img class="primary-img" src="{%static 'user_static/img/products/1.jpg'%}" alt="single-product">
                                <img class="secondary-img" src="{%static 'user_static/img/products/2.jpg'%}" alt="single-product">
                            </a>
                        </div>
                        <!-- Product Image End -->
                        <!-- Product Content Start -->
                        <div class="pro-content">
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h4><a href="product.html">Products Name Here</a></h4>
                            <p><span class="price">$30.00</span><del class="prev-price">$32.00</del></p>
                            <div class="pro-actions">
                                <div class="actions-secondary">
                                    <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                    <a class="add-cart" href="cart.html" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <!-- Product Content End -->
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                            <a href="product.html">
                                <img class="primary-img" src="{%static 'user_static/img/products/2.jpg'%}" alt="single-product">
                                <img class="secondary-img" src="{%static 'user_static/img/products/3.jpg'%}" alt="single-product">
                            </a>
                        </div>
                        <!-- Product Image End -->
                        <!-- Product Content Start -->
                        <div class="pro-content">
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h4><a href="product.html">Products Name Here</a></h4>
                            <p><span class="price">$30.00</span><del class="prev-price">$32.00</del></p>
                            <div class="pro-actions">
                                <div class="actions-secondary">
                                    <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                    <a class="add-cart" href="cart.html" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <!-- Product Content End -->
                        <span class="sticker-new">-30%</span>
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                            <a href="product.html">
                                <img class="primary-img" src="{%static 'user_static/img/products/3.jpg'%}" alt="single-product">
                                <img class="secondary-img" src="{%static 'user_static/img/products/4.jpg'%}" alt="single-product">
                            </a>
                        </div>
                        <!-- Product Image End -->
                        <!-- Product Content Start -->
                        <div class="pro-content">
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h4><a href="product.html">Products Name Here</a></h4>
                            <p><span class="price">$30.00</span><del class="prev-price">$32.00</del></p>
                            <div class="pro-actions">
                                <div class="actions-secondary">
                                    <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                    <a class="add-cart" href="cart.html" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <!-- Product Content End -->
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                            <a href="product.html">
                                <img class="primary-img" src="{%static 'user_static/img/products/4.jpg'%}" alt="single-product">
                                <img class="secondary-img" src="{%static 'user_static/img/products/2.jpg'%}" alt="single-product">
                            </a>
                        </div>
                        <!-- Product Image End -->
                        <!-- Product Content Start -->
                        <div class="pro-content">
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h4><a href="product.html">Products Name Here</a></h4>
                            <p><span class="price">$30.00</span><del class="prev-price">$32.00</del></p>
                            <div class="pro-actions">
                                <div class="actions-secondary">
                                    <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                    <a class="add-cart" href="cart.html" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <!-- Product Content End -->
                        <span class="sticker-new">-32%</span>
                    </div>
                    <!-- Single Product End -->
                </div>
                <!-- Realted Product Activation End -->
            </div>
        </div>
    </div>
    <!-- Realted Product End -->
    <!-- Upsell Product Start -->
    <div class="related-product pb-30">
        <div class="container">
            <div class="usel-product">
                <div class="group-title">
                    <h2>upsell product</h2>
                </div>
                <!-- Upsell Product Activation Start -->
                <div class="new-upsell-pro owl-carousel">
                    <!-- Single Product Start -->
                    <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                            <a href="product.html">
                                <img class="primary-img" src="{%static 'user_static/img/products/4.jpg'%}" alt="single-product">
                                <img class="secondary-img" src="{%static 'user_static/img/products/2.jpg'%}" alt="single-product">
                            </a>
                        </div>
                        <!-- Product Image End -->
                        <!-- Product Content Start -->
                        <div class="pro-content">
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h4><a href="product.html">Products Name Here</a></h4>
                            <p><span class="price">$30.00</span><del class="prev-price">$32.00</del></p>
                            <div class="pro-actions">
                                <div class="actions-secondary">
                                    <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                    <a class="add-cart" href="cart.html" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <!-- Product Content End -->
                        <span class="sticker-new">-32%</span>
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                            <a href="product.html">
                                <img class="primary-img" src="{%static 'user_static/img/products/1.jpg'%}" alt="single-product">
                                <img class="secondary-img" src="{%static 'user_static/img/products/2.jpg'%}" alt="single-product">
                            </a>
                        </div>
                        <!-- Product Image End -->
                        <!-- Product Content Start -->
                        <div class="pro-content">
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h4><a href="product.html">Products Name Here</a></h4>
                            <p><span class="price">$30.00</span><del class="prev-price">$32.00</del></p>
                            <div class="pro-actions">
                                <div class="actions-secondary">
                                    <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                    <a class="add-cart" href="cart.html" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <!-- Product Content End -->
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                            <a href="product.html">
                                <img class="primary-img" src="{%static 'user_static/img/products/2.jpg'%}" alt="single-product">
                                <img class="secondary-img" src="{%static 'user_static/img/products/3.jpg'%}" alt="single-product">
                            </a>
                        </div>
                        <!-- Product Image End -->
                        <!-- Product Content Start -->
                        <div class="pro-content">
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h4><a href="product.html">Products Name Here</a></h4>
                            <p><span class="price">$30.00</span><del class="prev-price">$32.00</del></p>
                            <div class="pro-actions">
                                <div class="actions-secondary">
                                    <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                    <a class="add-cart" href="cart.html" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <!-- Product Content End -->
                        <span class="sticker-new">-30%</span>
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                            <a href="product.html">
                                <img class="primary-img" src="{%static 'user_static/img/products/3.jpg'%}" alt="single-product">
                                <img class="secondary-img" src="{%static 'user_static/img/products/4.jpg'%}" alt="single-product">
                            </a>
                        </div>
                        <!-- Product Image End -->
                        <!-- Product Content Start -->
                        <div class="pro-content">
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h4><a href="product.html">Products Name Here</a></h4>
                            <p><span class="price">$30.00</span><del class="prev-price">$32.00</del></p>
                            <div class="pro-actions">
                                <div class="actions-secondary">
                                    <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                    <a class="add-cart" href="cart.html" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <!-- Product Content End -->
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                            <a href="product.html">
                                <img class="primary-img" src="{%static 'user_static/img/products/4.jpg'%}" alt="single-product">
                                <img class="secondary-img" src="{%static 'user_static/img/products/2.jpg'%}" alt="single-product">
                            </a>
                        </div>
                        <!-- Product Image End -->
                        <!-- Product Content Start -->
                        <div class="pro-content">
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h4><a href="product.html">Products Name Here</a></h4>
                            <p><span class="price">$30.00</span><del class="prev-price">$32.00</del></p>
                            <div class="pro-actions">
                                <div class="actions-secondary">
                                    <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                    <a class="add-cart" href="cart.html" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <!-- Product Content End -->
                        <span class="sticker-new">-32%</span>
                    </div>
                    <!-- Single Product End -->
                </div>
                <!-- Upsell Product Activation End -->
            </div>
        </div>
    </div>
    <!-- Upsell Product End -->
    <!-- Brand Logo Start -->
    <div class="brand-area pb-60">
        <div class="container">
            <!-- Brand Banner Start -->
            <div class="brand-banner owl-carousel">
                <div class="single-brand">
                    <a href="#"><img class="img" src="{%static 'user_static/img/brand/1.png'%}" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="{%static 'user_static/img/brand/2.png'%}" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="{%static 'user_static/img/brand/3.png'%}" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="{%static 'user_static/img/brand/4.png'%}" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="{%static 'user_static/img/brand/5.png'%}" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img class="img" src="{%static 'user_static/img/brand/1.png'%}" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="{%static 'user_static/img/brand/2.png'%}" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="{%static 'user_static/img/brand/3.png'%}" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="{%static 'user_static/img/brand/4.png'%}" alt="brand-image"></a>
                </div>
                <div class="single-brand">
                    <a href="#"><img src="{%static 'user_static/img/brand/5.png'%}" alt="brand-image"></a>
                </div>
            </div>
            <!-- Brand Banner End -->
        </div>
    </div>
{% for i in car%}
{% endfor %}

    <!-- Brand Logo End -->
{% endblock content %}