{% extends 'user_temp/base.html'%}
{% load static %}
{% block content %}
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-area ptb-60 ptb-sm-30">
        <div class="container">
            <div class="breadcrumb">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="shop.html">Shop</a></li>
                    <li class="active"><a href="product.html">Product</a></li>
                </ul>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- Breadcrumb End -->
    <!-- Product Thumbnail Start -->
    <div class="main-product-thumbnail pb-60">
        <div class="container">
            <div class="row">
                <!-- Main Thumbnail Image Start -->
                <div class="col-lg-5">
                    <!-- Thumbnail Large Image start -->
                    <div class="tab-content">
                        <div id="thumb1" class="tab-pane active">
                            <a data-fancybox="images" href="{{data.product.pro_img.url}}"><img src="{{data.product.pro_img.url}}" alt="product-view"></a>
                        </div>
                        <div id="thumb2" class="tab-pane">
                            <a data-fancybox="images" href="{%static 'user_static/img/products/2.jpg'%}"><img src="{%static 'user_static/img/products/2.jpg'%}" alt="product-view"></a>
                        </div>
                        <div id="thumb3" class="tab-pane">
                            <a data-fancybox="images" href="{%static 'user_static/img/products/3.jpg'%}"><img src="{%static 'user_static/img/products/3.jpg'%}" alt="product-view"></a>
                        </div>
                        <div id="thumb4" class="tab-pane">
                            <a data-fancybox="images" href="{%static 'user_static/img/products/4.jpg'%}"><img src="{%static 'user_static/img/products/4.jpg'%}" alt="product-view"></a>
                        </div>
                    </div>
                    <!-- Thumbnail Large Image End -->

                    <!-- Thumbnail Image End -->

                    <!-- Thumbnail image end -->
                </div>
                <!-- Main Thumbnail Image End -->
                <!-- Thumbnail Description Start -->
                <div class="col-lg-7">
                    <div class="thubnail-desc fix">
                        <h3 class="product-header">{{data.product.pro_name}}</h3>
                        <div class="rating-summary fix mtb-10">
                            <div class="rating f-left">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <div class="rating-feedback f-left">
                                <a href="#">(1 review)</a>
                                <a href="#">add to your review</a>
                            </div>
                        </div>

                        <form method="POST" enctype="multipart/form-data" class="contact-form">
                            {% csrf_token %}
                            {% include 'include/form.html' %}
                            <div class="pro-price mb-10">
                                 <div class="product_price">{{data.product.pro_price}}</div><p><del class="prev-price">{{data.product.pro_del_price}}</del></p>
                                <input name="pro_id" hidden value="{{data.product.id}}">
                                <input name="price" hidden value="{{data.product.pro_price}}">
                            </div>
                            <div class="box-quantity">
                            <input type="number" class="number" value="{{data.quantity}}" name="quantity">
                            <button type="submit" class="btn">Submit</button>
                            </div>
                        </form>
                        {% for i in cart %}
                        {% endfor %}
                        <div class="product-link">
                            <ul class="list-inline">
                                <li><a href="wishlist.html">Add to Wish List</a></li>
                                <li><a href="{%url 'contact'%}">Contact Us</a></li>
                            </ul>
                        </div>
                        <p class="ptb-20">Everything you need for a trip to the gym will fit inside this surprisingly spacious Products Name Here. Stock it with a water bottle, change of clothes, pair of shoes, and even a few beauty products. Fits inside a locker and zips shut for security.</p>
                    </div>
                </div>
                <!-- Thumbnail Description End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Product Thumbnail End -->
    <!-- Product Thumbnail Description Start -->
    <div class="thumnail-desc pb-60">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="main-thumb-desc nav">
                        <li><a class="active" data-toggle="tab" href="#dtail">Details</a></li>
                    </ul>
                    <!-- Product Thumbnail Tab Content Start -->
                    <div class="tab-content thumb-content border-default">
                        <div id="dtail" class="tab-pane in active">
                            <p>{{data.product.pro_long_dec}}</p>
                            <ul class="tab-list-item">
                                {% if data.product.pro_name == ""%}
                                {% else %}
                                Product Name&nbsp;: &nbsp; {{data.product.pro_name}}<br>
                                {% endif %}
                                {% if data.product.category == ""%}
                                {% else %}
                                 Category&nbsp;: &nbsp; {{data.product.category}}<br>
                                {% endif %}
                                {% if data.product.subcategory == ""%}
                                {% else %}
                                SubCategory&nbsp;: &nbsp; {{data.product.subcategory}}<br>
                                {% endif %}

                                {% if data.product.occasion == ""%}
                                {% else %}
                                Occasion&nbsp;: &nbsp;  {{data.product.occasion}}<br>
                                {% endif %}
                                {% if data.product.work == ""%}
                                {% else %}
                                Work&nbsp;: &nbsp;  {{data.product.work}}<br>
                                {% endif %}
                                {% if data.product.stitching_type == ""%}
                                {% else %}
                                 Stitching Type&nbsp;: &nbsp;  {{data.product.stitching_type}}<br>
                                {% endif %}
                                {% if data.product.length == ""%}
                                {% else %}
                                Length&nbsp;: &nbsp;  {{data.product.length}}<br>
                                {% endif %}
                                {% if data.product.fabric == ""%}
                                {% else %}
                                Fabric&nbsp;: &nbsp;  {{data.product.fabric}}<br>
                                {% endif %}
                                {% if data.product.color == ""%}
                                {% else %}
                                 Color&nbsp;: &nbsp;  {{data.product.color}}<br>
                                {% endif %}
                                {% if data.product.top_fabric == ""%}
                                {% else %}
                                Top Fabric&nbsp;: &nbsp;  {{data.product.top_fabric}}<br>
                                {% endif %}
                                {% if data.product.top_length == ""%}
                                {% else %}
                                 Top Length&nbsp;: &nbsp;  {{data.product.product.top_length}}<br>
                                {% endif %}
                                {% if data.product.dupatta_fabric == ""%}
                                {% else %}
                                Dupatta Fabric&nbsp;: &nbsp;  {{data.product.dupatta_fabric}}<br>
                                {% endif %}
                                {% if data.product.dupatta_length == ""%}
                                {% else %}
                                Dupatta Length&nbsp;: &nbsp; {{data.product.dupatta_length}}<br>
                                {% endif %}
                                {% if data.product.bottom_length == ""%}
                                {% else %}
                                Bottom Length&nbsp;: &nbsp;  {{data.product.bottom_length}}<br>
                                {% endif %}
                                {% if data.product.url == ""%}
                                {% else %}
                                Url&nbsp;: &nbsp;  {{data.product.url}}<br>
                                {% endif %}
                                {% if data.product.saree_fabric == ""%}
                                {% else %}
                                Saree Fabric&nbsp;: &nbsp;  {{data.product.saree_fabric}}<br>
                                {% endif %}
                                {% if data.product.saree_color == ""%}
                                {% else %}
                                Saree Color&nbsp;: &nbsp; {{data.product.saree_color}}<br>
                                {% endif %}
                                {% if data.product.saree_length == ""%}
                                {% else %}
                                 Saree Length&nbsp;: &nbsp; {{data.product.saree_length}}<br>
                                {% endif %}
                                {% if data.product.blouse_color == ""%}
                                {% else %}
                                Blouse Color&nbsp;: &nbsp;  {{data.product.blouse_color}}<br>
                                {% endif %}
                                {% if data.product.blouse_fabric == ""%}
                                {% else %}
                                 Blouse Fabric&nbsp;: &nbsp; {{data.product.blouse_fabric}}<br>
                                {% endif %}
                                {% if data.product.pro_short_dec == ""%}
                                {% else %}
                                Short Description&nbsp;: &nbsp;  {{data.product.pro_short_dec}}<br>
                                {% endif %}
                                {% if data.product.pro_price == ""%}
                                {% else %}
                                 Price&nbsp;: &nbsp;  {{data.product.pro_price}}<br>
                                {% endif %}
                                {% if data.product.pro_offer_price == ""%}
                                {% else %}
                                Offer&nbsp;: &nbsp;   {{data.product.pro_offer_price}}<br>
                                {% endif %}
                                {% if data.product.pro_size == ""%}
                                {% else %}
                                Size&nbsp;: &nbsp; {{data.product.pro_size}}<br>
                                {% endif %}

                            </ul>
                        </div>

                    </div>
                    <!-- Product Thumbnail Tab Content End -->
                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Product Thumbnail Description End -->

{% endblock content %}


